.error {
  display: none;
  padding-left: 24px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $Guardsman-red;
  background-image: url(../assets/img/Variant25.svg);
  background-position: left center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  &__open {
    display: block;
  }
  &__input-open {
    border: 1px solid $Guardsman-red;
  }
}
